*{
	box-sizing: border-box;
}
.content-block {
	display:block;
	width: 80%;
	margin-left: 10%;
	height: 200px;
	background-color: #66BB6A;
	margin-top: 25px;
	position: relative;
}

.img-holder {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: blue;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}